@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');

body {
  background: rgb(34, 34, 34);
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 2em;
}
@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
#startupAnimation {
 animation: 1000ms ease-out 0s 1 grow;

}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4c9bd;
  font-size: 30px;
  transform: translateX(2px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4c9bd;
  font-size: 30px;
}

#containerOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7fddbe;
  width: 800px;
  height: 400px;
  clip-path: circle(200px at center);
  user-select: none;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 34, 34);
  width: 790px;
  height: 390px;
  clip-path: circle(195px at center);
  user-select: none;
}

.timer {
  font-size: 40px;
  text-decoration: none;
  color: #6c9688;

  &:visited {
    color: inherit;
  }
}

#timerGroup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

#breakLength {
  margin: 8px 0 2px;
  font-size: 22px;
}

#sessionLength {
  margin: 2px 0 8px;
  font-size: 22px;
}

.firstRow {
  color: #6c9688;
  flex: 1 0 100%;
  text-align: center;
  margin-bottom: 15px;
}

#minus {}

#plus {}

#break,
#start,
#stop {
  color: #6c9688;
  font-size: 40px;
  text-decoration: none;
}

#stop {
  margin-left: 20px;
}

#timerHeader {
  font-weight: 400;
}

#hourglass {
  width: 400px;
  height: 200px;
  position: relative;
  background: rgb(34, 34, 34);
  border: 2px solid #7fddbe;

  #timeFluid {
    position: absolute;
    height: 200px;
    width: 0;
    background: #7fddbe;
    transition: width 500ms ease-out;
  }
}

.clip-circle {
  clip-path: circle(200px at center);
}